.body-container{
    background-color: rgb(246, 248, 248);
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 5%;
}

.header-content{
    text-align: center;
}

.header-content h3{
    font-size: 30px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flexbox-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 10px;
    justify-content: space-around;
    /* text-align: center; */
}

.flex1 {
      min-height: 200px;
      min-width:250px;
}

.flex2 {
    min-height: 200px;
    min-width: 250px;
}

.flex3 {
    min-height: 200px;
    min-width: 250px;
}

.flex4 {
    min-height: 200px;
    min-width: 250px;
}